
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>zhenaibaodian  </title>
    <link rel="stylesheet" href="css/layui.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/layui.js"></script>
</head>
<body>
<style>
  .layui-form-item {
    margin-top: 15px;
  }
  .layui-input-block{
    width: 300px;
    float: left;
    margin-left: 0;
  }
  td.on{
    border-bottom: 1px solid #D60711;
    color: #D60711;
  }
  td.active{
    background: #D60711;
    color: #fff;
  }
  .search_div{
    position: fixed;
    z-index: 2;
    background-color: #fff;
    border: 1px solid #e6e6e6;
  }
  .layui-table {
    width: 1920px;
    background-color: #fff;
    color: #666;
}
</style>

<div class="search_div">
  <form class="layui-form" action="" onSubmit="return search();">
    <div class="layui-form-item">
      <label class="layui-form-label">输入关键字</label>
      <div class="layui-input-block">
        <input type="text" name="title" required  lay-verify="required" placeholder="请输入关键字" autocomplete="off" class="layui-input" id="searchInput" value="张">
      </div>
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="formDemo">搜索</button>
      </div>
      <div class="layui-input-block">  
        <h5>共为您找到相关结果约为123个.显示从0起共10
        </h5>
      </div>
    </div>
  </form>
</div>
<p style="height: 70px;"></p>
<table class="layui-table" id="all_list">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>编号</th>
      <th>姓名</th>
      <th>性别</th>
      <th>年龄</th>
      <th>身高</th>
      <th>体重</th>
      <th>薪酬</th>
      <th>学历</th>
      <th>职业</th>
      <th>工作地</th>
      <th>星座</th>
      <th>是否购房</th>
      <th>是否购车</th>

    </tr>

  </thead>
  <tbody>
    
      <tr>
        <td>102</td>
        <td class="list_one"><a href="www.baidu.com">安静的雪</a></td>
        
        <td>女</td>
        <td>34</td>
        <td>162CM</td>
        <td>57KG</td>
        <td>3000-5000</td>
        <td>本科</td>
        <td>人事</td>
        <td>山东菏泽</td>
        <td>牡羊座</td>
        <td>已购房</td>
        <td>未购车</td>

        
      </tr>
    
      <tr>
        <td>102</td>
        <td class="list_one"><a href="www.baidu.com">安静的雪</a></td>
        
        <td>女</td>
        <td>34</td>
        <td>162CM</td>
        <td>57KG</td>
        <td>3000-5000</td>
        <td>本科</td>
        <td>人事</td>
        <td>山东菏泽</td>
        <td>牡羊座</td>
        <td>已购房</td>
        <td>未购车</td>

        
      </tr>
    
      <tr>
        <td>102</td>
        <td class="list_one"><a href="www.baidu.com">安静的雪</a></td>
        
        <td>女</td>
        <td>34</td>
        <td>162CM</td>
        <td>57KG</td>
        <td>3000-5000</td>
        <td>本科</td>
        <td>人事</td>
        <td>山东菏泽</td>
        <td>牡羊座</td>
        <td>已购房</td>
        <td>未购车</td>

        
      </tr>
    
      <tr>
        <td>102</td>
        <td class="list_one"><a href="www.baidu.com">安静的雪</a></td>
        
        <td>女</td>
        <td>34</td>
        <td>162CM</td>
        <td>57KG</td>
        <td>3000-5000</td>
        <td>本科</td>
        <td>人事</td>
        <td>山东菏泽</td>
        <td>牡羊座</td>
        <td>已购房</td>
        <td>未购车</td>

        
      </tr>
    
      <tr>
        <td>102</td>
        <td class="list_one"><a href="www.baidu.com">安静的雪</a></td>
        
        <td>女</td>
        <td>34</td>
        <td>162CM</td>
        <td>57KG</td>
        <td>3000-5000</td>
        <td>本科</td>
        <td>人事</td>
        <td>山东菏泽</td>
        <td>牡羊座</td>
        <td>已购房</td>
        <td>未购车</td>

        
      </tr>
    
      <tr>
        <td>102</td>
        <td class="list_one"><a href="www.baidu.com">安静的雪</a></td>
        
        <td>女</td>
        <td>34</td>
        <td>162CM</td>
        <td>57KG</td>
        <td>3000-5000</td>
        <td>本科</td>
        <td>人事</td>
        <td>山东菏泽</td>
        <td>牡羊座</td>
        <td>已购房</td>
        <td>未购车</td>

        
      </tr>
    
      <tr>
        <td>102</td>
        <td class="list_one"><a href="www.baidu.com">安静的雪</a></td>
        
        <td>女</td>
        <td>34</td>
        <td>162CM</td>
        <td>57KG</td>
        <td>3000-5000</td>
        <td>本科</td>
        <td>人事</td>
        <td>山东菏泽</td>
        <td>牡羊座</td>
        <td>已购房</td>
        <td>未购车</td>

        
      </tr>
    
      <tr>
        <td>102</td>
        <td class="list_one"><a href="www.baidu.com">安静的雪</a></td>
        
        <td>女</td>
        <td>34</td>
        <td>162CM</td>
        <td>57KG</td>
        <td>3000-5000</td>
        <td>本科</td>
        <td>人事</td>
        <td>山东菏泽</td>
        <td>牡羊座</td>
        <td>已购房</td>
        <td>未购车</td>

        
      </tr>
    
      <tr>
        <td>102</td>
        <td class="list_one"><a href="www.baidu.com">安静的雪</a></td>
        
        <td>女</td>
        <td>34</td>
        <td>162CM</td>
        <td>57KG</td>
        <td>3000-5000</td>
        <td>本科</td>
        <td>人事</td>
        <td>山东菏泽</td>
        <td>牡羊座</td>
        <td>已购房</td>
        <td>未购车</td>

        
      </tr>
    
      <tr>
        <td>102</td>
        <td class="list_one"><a href="www.baidu.com">安静的雪</a></td>
        
        <td>女</td>
        <td>34</td>
        <td>162CM</td>
        <td>57KG</td>
        <td>3000-5000</td>
        <td>本科</td>
        <td>人事</td>
        <td>山东菏泽</td>
        <td>牡羊座</td>
        <td>已购房</td>
        <td>未购车</td>

        
      </tr>
    
  </tbody>
</table>
<script>
  
  var active = 0;
  $('.ayui-btn').click(function(){
    search();
  })
  function search(){
    
    var kwds = $("#searchInput").val();
    
    var this_one = {};
    var real_name = '';
    
    var list = $("#all_list .list_one");
    
    var true_one = 0;
    for (var i = 0; i < list.length; i++) {
      this_one = $(list[i]);

      real_name = this_one.text().toString();
      
      if(real_name.match(kwds)){
        
        if(true_one == active){
          
          var windows_wdh = $(window).width();
          var windows_hgt = $(window).height();
          
          var x_len = this_one.offset().left;
          var y_len = this_one.offset().top;
          
          $("html,body").animate({scrollTop:(y_len-windows_hgt/2), scrollLeft:(x_len-windows_wdh/2)},500);
          
          this_one.addClass('active');
          this_one.removeClass('on');
        }else{
          
          this_one.addClass('on');
          this_one.removeClass('active');
        }
        
        true_one++;
      }else{
        this_one.removeClass('on');
      }
    }
    
    active = active >= true_one-1 ? 0 : active+1;

    return false;
  }
</script>

</body>
</html>
